<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msdpe.storagedemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.msdpe.storagedemo.StorageApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.msdpe.storagedemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.msdpe.storagedemo.TablesActivity"
            android:label="@string/title_activity_tables"
            android:parentActivityName="com.msdpe.storagedemo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.msdpe.storagedemo.MainActivity" />

            <intent-filter>
                <action android:name="tables.loaded" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name="com.msdpe.storagedemo.TableRowsActivity"
            android:parentActivityName="com.msdpe.storagedemo.TablesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.msdpe.storagedemo.TablesActivity" />

            <intent-filter>
                <action android:name="tablerows.loaded" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name="com.msdpe.storagedemo.EditTableRowActivity"
            android:label="@string/title_activity_new_table_row"
            android:parentActivityName="com.msdpe.storagedemo.TableRowsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.msdpe.storagedemo.TableRowsActivity" />
        </activity>
        <activity
            android:name="com.msdpe.storagedemo.ContainersActivity"
            android:label="@string/title_activity_containers"
            android:parentActivityName="com.msdpe.storagedemo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.msdpe.storagedemo.MainActivity" />

            <intent-filter>
                <action android:name="containers.loaded" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name="com.msdpe.storagedemo.BlobsActivity"
            android:label="@string/title_activity_blobs"
            android:parentActivityName="com.msdpe.storagedemo.ContainersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.msdpe.storagedemo.ContainersActivity" />

            <intent-filter>
                <action android:name="blobs.loaded" >
                </action>
                <action android:name="blob.created" >
                </action>              
            </intent-filter>
        </activity>
        <activity
            android:name="com.msdpe.storagedemo.BlobDetailsActivity"
            android:label="@string/title_activity_blob_details"
            android:parentActivityName="com.msdpe.storagedemo.BlobsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.msdpe.storagedemo.BlobsActivity" />
            
            <intent-filter>
                <action android:name="blob.loaded" >
                </action>
            </intent-filter>
        </activity>
    </application>

</manifest>